:root {
    /* color-scheme: light dark; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #c11e38, #9e0146, #75034a, #4a0b44, #220b34);

    align-content: center;
    width: 100vw;
    height: 100vh;

    overflow-y: hidden;
    overflow-x: hidden;
}

#content-border {
    height: 80%;
    width: 80%;
    margin-inline: auto;

    border: 2px solid black;
}

/* HEADER */

header {
    margin-top: 50px;
    margin-bottom: 50px;
}

#header-div {
    text-align: center;
}

#title {
    font-style: italic;
}

#subtitle {
    color: silver;
}

/* HEADER */

/* MAIN CONTENT */

.main-content {
    margin-inline: auto;

    text-align: center;
}

#dropbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

#media {
    margin-top: 5px;
    margin-bottom: 5px;
}

#show-table-columns {
    margin-top: 5px;
    margin-bottom: 5px;
}

#table {
    margin: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;

    width: 100%;
}

table,
th,
td {
    border: 2px solid black;
    height: 20px;
}

#btn-table {
    margin: 10px;
    position: relative;
}

/* MAIN CONTENT */

/* ABM FORMULARIO */

.hidden {
    display: none;
}

#abm-form {
    width: 80%;
    margin: auto;
}

#abm-form-title {
    align-content: center;
}

#abm-form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
